{% extends "base.html" %}
{% block content %}

<h1>Welcome to the Meeting Planner!</h1>
<p>
    This is the demo application for the course
    <em>Django: Getting Started</em>
    on <a href="https://app.pluralsight.com/">
        pluralsight</a>
<p>


<h2>Meetings</h2>
<ul class="list-group">
    {% for meeting in meetings %}
    <li class="list-group-item col-3">
        <a href="{%url 'detail' meeting.id %}">{{meeting.title}}</a>
    </li>
    {% endfor %}
</ul>
<a href="{%url 'rooms' %}" class="btn btn-info">Rooms list</a>


{% endblock %}